.main-header {
  background-color: #ffffff;
}

.main-navigation {
  position: relative;
}

.site-list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.site-list__item {
  background-color: @maincolor;
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;
  &:first-child {
    border-top: none;
  }
  &:last-child {
    border-bottom: none;
    box-shadow: inset 0 -5px 6px -5px #333377;
  }
}

.site-list__close {
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: @maincolor;
  width: 22.199px;
  height: 22.199px;
  position: absolute;
  top: 17px;
  right: 20px;
  cursor: pointer;
  border: none;
  display: none;
}

.site-list__link {
  .contents;
  .heading;
  color: #ffffff;
  display: block;
  padding: 17px 0 17px;
}

.site-list.hidden {
  display: none;
}

.main-header__logo-link {
  position: absolute;
  left: 50%;
  width: 102px;
  height: 84px;
  margin-left: -50px;
  z-index: 1;
}

.main-navigation__toggle-section {
  min-height: 56px;
  position: relative;
}

.main-navigation__toggle-section.appear,
.main-navigation__toggle-button.appear,
.site-list__close.appear {
  display: block;
}

.main-navigation__toggle-button {
  position: absolute;
  right: 20px;
  bottom: 16px;
  cursor: pointer;
  width: 22.928px;
  height: 22.928px;
  background-color: white;
  border: none;
  display: none;
  &::before {
    .pseudo-element;
    left: 0;
    top: 0;
    width: 22.928px;
    height: 22.928px;
    background-image: url("../img/icon-menu.svg");
  }
}

.main-header__poster {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-mobile@2x.jpg");
    }
  background-repeat: no-repeat;
  background-position: center;
  width: 320px;
  height: 390px;
  position: relative;
  padding-top: 56px;
  margin-top: -1px;
  margin-bottom: 40px;
  &::after {
    .pseudo-element;
    left: 0;
    bottom: 0;
    width: 320px;
    height: 26.111px;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
  }
}

.main-header__poster-miny {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-mobile@2x.jpg");
    }
  background-repeat: no-repeat;
  background-position: 50% 100%;
  width: 320px;
  height: 158px;
  position: relative;
  &::after {
    .pseudo-element;
    left: 0;
    bottom: 0;
    width: 320px;
    height: 26.111px;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
  }
}

.main-header__poster-text {
  position: absolute;
  width: 281px;
  left: 50%;
  margin-left: -140px;
  top: 90px;
}

.main-header__poster-text-miny {
  position: absolute;
  width: 230px;
  left: 50%;
  margin-left: -115px;
  top: 52px;
}





@media (min-width: @tablet-width) {

.site-list {
  display: flex;
}

.site-list__item {
  width: 153px;
  background-color: #ffffff;
  border: none;
  margin: 0;
  padding: 0;

  // &:first-child::before {
  //   display: none;
  // }

  &:last-child {
    box-shadow: none;
    margin: 0;
  }
}

.site-list__item:nth-child(3) {
  margin-left: 156px;
}

.site-list__close {
    display: none;
}

.site-list__link {
  .contents;
  color: #000000;
}

.main-header__logo-link {
  top: 0;
}

.main-navigation__toggle-section {
  display: none;
}

.main-header__poster {
  margin-top: 6px;
  background-image: url("../img/bg-back-tablet@1x.jpg");
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  width: 768px;
  height: 518px;
  margin-bottom: 50px;
  &::after {
    .pseudo-element;
    left: 0;
    bottom: 0;
    width: 768px;
    height: 57px;
    background-image: url("../img/bg-intro-triangle-tablet.svg");
    border: none;
  }
}

.main-header__poster-text {
  width: 460px;
  height: 350px;
  left: 50%;
  margin-left: -230px;
  top: 77px;
}

.main-header__poster-miny {
  margin-top: 5px;
  background-image: url("../img/bg-back-tablet@1x.jpg");
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  background-position: 70% 100%;
  width: 768px;
  height: 290px;
  &::after {
    .pseudo-element;
    left: 0;
    bottom: 0;
    width: 768px;
    height: 57px;
    background-image: url("../img/bg-intro-triangle-tablet.svg");
    border: none;
  }
}

.main-header__poster-text-miny {
  width: 458px;
  margin-left: -229px;
  top: 95px;
}


}

@media (min-width: @desktop-width) {

.site-list__item {
  width: 239px;
}

.site-list__item:nth-child(3) {
  margin-left: 244px;
}

.site-list__link {
  padding: 19px 0 21px;
}

.main-header__logo-link {
  margin-left: -95px;
  z-index: 1;
  width: 190px;
  height: 96px;
}

.main-header__logo-image {
  width: auto;
}

.main-header__poster {
  margin-top: 0;
  width: 1200px;
  background-image: url("../img/bg-back-desktop@1x.jpg");
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  &::after {
    width: 1200px;
    background-image: url("../img/bg-intro-triangle-desktop.svg");
    border: none;
  }
}

.main-header__poster-miny {
  margin-top: 0;
  width: 1200px;
  height: 300px;
  background-image: url("../img/bg-back-desktop@1x.jpg");
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  &::after {
    width: 1200px;
    background-image: url("../img/bg-intro-triangle-desktop.svg");
    border: none;
  }
}

.main-header__poster-text-miny {
  width: 458px;
  margin-left: -229px;
  top: 100px;
}









}
