.hashtag {
  .contents;
  .heading;
  font-size: 21px;
  margin-bottom: 37px;
}

.main-footer__social {
  text-align: center;
  margin-bottom: 36px;
}

.social__list {
  list-style: none;
  width: 153px;
  margin: 0 auto;
  padding: 0;
  .flex-container;
}

.social__item {
  background-color: @maincolor;
  width: 47px;
  height: 48px;
  position: relative;
  margin-right: 6px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  padding: 23px;
  &::after {
    .pseudo-element;
  }
  &--twitter::after {
    width: 17.5px;
    height: 14.663px;
    top: 50%-17.5px;
    left: 50%-14.663px;
    background-image: url("../img/icon-twitter.svg");
  }
  &--facebook::after {
    width: 8.672px;
    height: 18.944px;
    top: 50%-18.944px;
    left: 50%-8.672px;
    background-image: url("../img/icon-facebook.svg");
  }
  &--youtube::after {
    width: 19.979px;
    height: 14.015px;
    top: 50%-14.015px;
    left: 50%-19.979px;
    background-image: url("../img/icon-youtube.svg");
  }
}

.main-footer__copyright {
  text-align: center;
  padding-bottom: 20px;
}

.copyright__text {
  .contents;
  font-weight: normal;
  color: #000000;
}

.copyright__link {
  /*background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center;*/
  width: 27px;
  height: 34px;
  display: inline-block;
  vertical-align: middle;
  fill: red;
}



@media (min-width: @tablet-width) {

.main-footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.social__list {
  margin-top: 10px;
}

.main-footer__copyright {
  margin-top: 13px;
}



}




@media (min-width: @desktop-width) {

.main-footer {
  margin: 10px auto;
  width: 970px;
  justify-content: space-between;
}



}
