.advantages {
  background-color: #ffffff;
}

.advantages__header {
  .contents;
  .heading;
  width: 260px;
  margin: auto;
  margin-bottom: 28px;
  line-height: 26px;
}

.advantages__preview {
  .contents;
  width: 260px;
  line-height: 26px;
  margin: auto;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 4px;
}

.advantages__item {
  background-color: #eeeeee;
  &--opened:first-child {
    position: relative;
    padding-top: 80px;
  }
  &--opened:first-child::before {
    .pseudo-element;
    left: 0;
    top: 0;
    width: 320px;
    height: 37px;
    background-image: url("../img/bg-triangle.svg");
  }
  &--opened:nth-child(2) {
    margin-top: 12px;
    padding-top: 43px;
  }
  &--opened {
    color: #ffffff;
    background-color: @maincolor;
  }
}

.advantages__item--opened:nth-child(2) .advantages__picture {
  order: -1;
}

.advantages__item--not-opened  {
  padding: 0 16px 0;
}

.advantages__title {
  .contents;
  .heading;
  color: inherit;
  margin: 0;
  margin-bottom: 15px;
}

.advantages__item--not-opened .advantages__title {
  padding-top: 28px;
}

.advantages__number {
  .contents;
  color: inherit;
}

.advantages__description {
  .contents;
  color: inherit;
  line-height: 21px;
  margin: 0;
  padding: 16px 20px 41px;
}

.advantages__item--not-opened .advantages__description {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 30px;
}

.advantages__item--tourists .advantages__description {
  border-bottom: none;
}

.advantages__picture {
  display: block;
}

.features {
  background-color: #ffffff;
  padding-top: 35px;
}

.features__item {
  padding-left: 70px;
  position: relative;
}

.features__icon {
  .pseudo-element;
  left: 22px;
  top: -5px;
  fill: #81b3d2;
}

.features__item--housing .features__icon  {
  width: 37px;
  height: 36px;
}

.features__item--souvenirs .features__icon  {
  width: 32px;
  height: 38px;
}

.features__item--food .features__icon  {
  width: 40px;
  height: 35px;
}

.features__title {
  .contents;
  .heading;
  text-align: left;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  line-height: 26px;
}

.features__description {
  .contents;
  text-align: left;
  margin: 0;
  padding: 0;
  width: 210px;
  line-height: 21px;
  padding-bottom: 26px;
}





@media (min-width: @tablet-width) {

.advantages__header {
  font-size: 21px;
  width: 490px;
}

.advantages__preview {
  width: 490px;
  margin-bottom: 50px;
}

.advantages__item {

  &:first-child {
    padding: 0;
  }

  &:first-child::before {
    display: none;
  }

  &:nth-child(2) {
    padding: 0;
  }
}

.advantages__item--opened {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.advantages__item--opened:nth-of-type(2) .advantages__photo-frame {
  order: -1;
}

.advantages__item--wrapper {
  display: flex;
  margin: 0;
  padding: 0;
}

.advantages__item--not-opened {
  width: 256px;
  margin: 0;
  padding: 0;
}

.advantages__item--not-opened .advantages__title {
  margin-top: 20px;
  margin-bottom: 11px;
  width: 120px;
  text-align: center;
}

.advantages__item--not-opened .advantages__number {
  margin: 0;
}

.advantages__item--not-opened .advantages__description {
  padding: 0;
  margin: 25px auto 45px;
  border: none;
  width: 170px;
}

.advantages__item--road .advantages__description {
  width: 140px;
  text-align: center;
}

.advantages__item-header {
  width: 256px;
  min-height: 256px;
  padding-top: 46px;
}

.advantages__title {
  width: 151px;
  margin: auto;
  font-size: 21px;
}

.advantages__number {
  margin-top: 15px;
  margin-bottom: 23px;
}

.advantages__description {
  width: 162px;
  margin: auto;
  padding: 0;
}

.advantages__picture {
  width: 512px;
  height: 256px;
}


.features {
  width: 768px;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.features__item  {
  width: 256px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.features__item--souvenirs {
  order: 1;
}

.features__icon {
  .pseudo-element;
  left: 50%;
  margin-left: -40px;
  top: 20px;
}

.features__item--housing .features__icon  {
  width: 75px;
  height: 72px;
}

.features__item--souvenirs .features__icon  {
  width: 64px;
  height: 75px;
}

.features__item--food .features__icon  {
  width: 77px;
  height: 68px;
}

.features__title {
  margin: 0;
  padding: 0;
  margin-top: 125px;
  margin-bottom: 20px;
  font-size: 21px;
  text-align: center;
}

.features__description {
  margin: 0 auto;
  padding: 0;
  width: 158px;
  margin-bottom: 50px;
  text-align: center;
}

.features__item--souvenirs .features__description {
  width: 168px;
}




}





@media (min-width: @desktop-width) {

.advantages__item-header {
  width: 400px;
}

.advantages__photo-frame {
  width: 800px;
  height: 256px;
  overflow: hidden;
}

.advantages__picture {
  width: 800px;
  height: 400px;
  margin-top: -71px;
}

.advantages__item--opened:nth-of-type(2) .advantages__picture {
  margin-top: -76px;
}

.features {
  width: 100%;
}

.features__item  {
  width: 400px;
}

.advantages__item--not-opened {
  width: 400px;
}







}
