.photo-and-video__title {
  .contents;
  .heading;
}

.photo-and-video__description {
  .contents;
}

.photo__card {
  border-top: 1px solid #e5e5e5;
}

.photo__frame {
  margin: 0;
  padding: 0;
  padding-top: 22px;
  text-align: center;
}

.photo__name {
  padding-top: 22px;
  .contents;
  font-weight: bold;
  text-align: left;
}

.photo__author {
  font-style: normal;
  color: #333333;
}

.video {
  border-top: 1px solid #e5e5e5;
}

.video__call {
  display: block;
  .contents;
  .heading;
}

.video_description {
  .contents;
}

.video-controller {
  width: 280px;
  height: 110px;
}

.video-controller__volume-box {
  height: 45px;
  background-color: #000000;
  opacity: 0.6;
}

.video-controller__control-box {
  height: 65px;
  background-color: #f2f2f2;
}
